@model IEnumerable<PigWebApplication.Models.Breed>

@{
    ViewData["Title"] = "Породи";
}

<h1>Породи</h1>

<p>
    <a asp-action="Create">Додати нову породу</a>
</p>

<div>
    <h3>Оберіть excel-файл для заватаження</h3>
    @using(Html.BeginForm("Import", "Breeds", FormMethod.Post, new { enctype ="multipart/form-data", id ="frm-excel" }))
    {
        <div>
            Завантажте Excel-файл:
            <input type="file" name="fileExcel" id="fileExcel" class="form-control btn btn-light"/>
            <div>
                <input type="submit" value="Завантажити" class="btn btn-light" />
            </div>
        </div>}
</div>
<br/>

<div>
    <h3>Завантаження інформації в файл</h3>
    <a asp-action="Export" class="btn btn-light">Завантажити</a>
</div>
<br/>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Свині цієї породи</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="container">
    <div id="chartpig"></div>
</div>
@section scripts{
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', { 'packages': ['corechart'] });
            google.charts.setOnLoadCallback(drawChart);
            function drawChart() {
                $.get('/api/Chart/JsonDataPig', function(JsonDataPig) {
                data = google.visualization.arrayToDataTable(JsonDataPig, false);
                    var option = {
                        title: "Співвідношення свиней до пород",
                        width: 500,
                        height: 400
                    };
                    chart = new google.visualization.PieChart(document.getElementById('chartpig')); 
                    chart.draw(data, option);
            })}
        </script>
}
