@model PigWebApplication.Models.FeedType

@{
    ViewData["Title"] = "Детальна інформація";
}

<h1>Детальна інформація</h1>

<div>
    <h4>Раціон харчування </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityPerBig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityPerBig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Breed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Breed.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Feedmix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Feedmix.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редагувати</a> |
    <a asp-action="Index">Повернутися до списку</a>
</div>
