@model IEnumerable<PigWebApplication.Models.FeedType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("add", "Create", new { feedmixId = @ViewBag.FeedmixId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerBig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedmix)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerBig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Breed.Direction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedmix.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
