@model IEnumerable<PigWebApplication.Models.FeedType>

@{
    ViewData["Title"] = "Раціони харчування";
}

<h1>Раціони харчування @ViewBag.FeedmixName</h1>

<p>
    @Html.ActionLink("Додати раціон харчування", "Create", new { feedmixId = @ViewBag.FeedmixId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Breed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feedmix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgeFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityPerBig)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Breed.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Feedmix.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgeFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerBig)
            </td>
            <td>
                @Html.ActionLink("Редагувати", "Edit", new {id = @item.Id, feedmixId = @ViewBag.FeedmixId})|
                <a asp-action="Details" asp-route-id="@item.Id">Детальна інформація</a>
            </td>
        </tr>
}
    </tbody>
</table>
