@model IEnumerable<PigWebApplication.Models.Injection>

@{
    ViewData["Title"] = "Ін'єкції";
}

<h1>Ін'єкції препарату @ViewBag.MedicineName</h1>

<p>
   @Html.ActionLink("Додати ін'єкцію", "Create", new { medicineId = @ViewBag.MedicineId})
</p>
<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Medicine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pig)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.Medicine.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pig.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальна інформація</a>
            </td>
        </tr>
}
    </tbody>
</table>
