@model IEnumerable<PigWebApplication.Models.FeedMixture>

@{
    ViewData["Title"] = "Харчові суміші";
}

<h1>Харчові суміші</h1>

<p>
    <a asp-action="Create">Додати нову харчову суміш</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Barley)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Corn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oilcake)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Barley)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Corn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Oilcake)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Раціони харчування</a>
            </td>
        </tr>
}
    </tbody>
</table>
